@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif;
  text-align: center;
  display: grid;
  place-content: center;
  gap: 1em;
}

svg {
  clip-path: circle(50% at center);
  width: 80vmin;
}
polygon {
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  stroke-width: 1px;
  fill: rgb(var(--color));
  stroke: black;
  outline: 0;
}

svg:where(:hover, :focus-within) polygon:not(:where(:hover, :focus)) {
  fill: rgb(var(--color), 0.6);
}

svg:not(:hover, :focus-within) + #color-name {
  display: none;
}

#color-name {
  font-weight: bold;
  left: 50%;
  bottom: 0.2em;
  font-size: clamp(2rem, 4vw, 3.5rem);
  pointer-events: none;
  white-space: nowrap;
}
